<launch>
  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- Panda specific options -->
  <arg name="load_gripper" default="true" />
  <arg name="transmission" default="effort" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true" />
  <arg name="paused" default="false" />
  <arg name="use_rviz" default="false" />
  <arg name="use_gazebo" default="true" />

  <!-- Launch the gazebo simulator and spawn the robot -->
  <include file="$(find franka_move)/launch/panda.launch" pass_all_args="true">
    <arg name="headless" value="$(eval not arg('gazebo_gui'))" />
    <arg name="use_gripper" default="$(arg load_gripper)" />
<!--    <arg name="controller" default="effort_joint_trajectory_controller" />-->
<!--    <arg name="controller" default="joint1_controller joint2_controller joint3_controller joint4_controller joint5_controller joint6_controller joint7_controller" />-->
    <arg name="controller" default="joint_velocity_controller" />

  </include>


  <include file="$(find panda_moveit_config)/launch/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <arg name="use_rviz" default="$(arg use_rviz)" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="simple" />
  </include>

<!--  <node name="franka_move_python" pkg="franka_move" type="franka_move_interface.py" output="screen" />-->

</launch>
